<div *ngIf="section" [style]="section.style">
    <div class="container">
        <ps-header [show]="!!section" [label]="section.label" [additionalInfo]="section.additionalInfo"
            [id]="section.anchor"></ps-header>
        <div class="row">
            <div class="col-lg">
                <ngb-carousel (slid)="onSlid($event)">
                    <ng-template ngbSlide *ngFor="let project of section.projects">
                        <div class="row" style="min-height: 350px;">
                            <div class="col-md-1"></div>
                            <div class="col-md-4">
                                <div class="picsum-img-wrapper" *ngIf="currentImage">
                                    <img [src]="currentImage.url" [alt]="currentImage.alt"
                                        [style]="currentImage.style" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                {{project.name}}
                                <p>{{project.description}}</p>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                    </ng-template>
                </ngb-carousel>
            </div>
        </div>
    </div>
</div>