<div *ngIf="section" [style]="section.style">
    <ps-space></ps-space>
    <div class="container">
        <ps-header [show]="!!section" [label]="section.label" [additionalInfo]="section.additionalInfo"
            [id]="section.anchor"></ps-header>
        <ps-space></ps-space>
        <div class="row">
            <div class="col-lg">
                <ngb-carousel (slid)="onSlid($event)">
                    <ng-template ngbSlide *ngFor="let project of section.projects">
                        <div class="row" style="min-height: 400px;">
                            <div class="col-md-1"></div>
                            <div class="col-md-4">
                                <div class="picsum-img-wrapper" *ngIf="currentImage">
                                    <img [src]="currentImage.url" [alt]="currentImage.alt"
                                        [style]="currentImage.style" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h1>{{project.name}}</h1>
                                <ps-paragraph [paragraph]="project.description"></ps-paragraph>
                                <ps-paragraph [paragraph]="project.details"></ps-paragraph>
                                <a *ngIf="project.sourceCode" [href]="project.sourceCode">Source code</a> : 
                                <a *ngIf="project.demoUrl" [href]="project.demoUrl">Demo</a>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                    </ng-template>
                </ngb-carousel>
            </div>
        </div>
    </div>
    <ps-space></ps-space>
</div>