<div *ngIf="section" [style]="section.style">

    <ps-space></ps-space>
    <div class="container">
        <ps-header [show]="!!section" [label]="section.label" [id]="section.anchor"></ps-header>
        <div class="row" *ngIf="section">
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <div class="col mb-3">
                    <img [src]="section.image.url" class="img-fluid profile-image" [alt]="section.image.alt"
                        [style]="section.image.style">
                </div>
                <div class="col">
                    <div *ngFor="let link of section.links" [style]="section.linksStyle">
                        <a [href]="link.link" *ngIf="!link.downloadable" target="_blank" rel="noopener noreferrer">
                            <img [src]="link.icon" class="img-fluid" [alt]="link.name"
                                [style]="link.style">
                        </a>
                        <a [href]="link.link" [download]="link.name" *ngIf="link.downloadable" target="_blank" rel="noopener noreferrer">
                            <img [src]="link.icon" class="img-fluid" [alt]="link.name"
                                [style]="link.style">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <ps-paragraph [paragraph]="section.description"></ps-paragraph>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>

    <ps-space></ps-space>
</div>