<ps-header [show]="!!section" [label]="section?.label"[id]="section?.anchor"></ps-header>
<div class="row" *ngIf="section">
    <div class="col-md-1"></div>
    <div class="col-md-10">    
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id magna et ligula efficitur ullamcorper. Cras
        porta gravida leo, in ornare ex gravida et. Donec nibh libero, lobortis quis mollis vel, malesuada a tellus.
        Nunc tempor rutrum lectus sed scelerisque. Etiam justo leo, auctor eget enim quis, consequat consequat orci.
        Pellentesque leo elit, pretium vel vestibulum a, bibendum id risus. Mauris faucibus, eros eget ultrices
        sagittis, dui nunc pretium purus, a convallis neque sapien in nisl. Nunc vitae urna commodo, luctus est in,
        auctor nisl. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc ante
        metus, sodales rutrum elementum ut, lobortis sed dui. Donec eu lectus sit amet dolor finibus accumsan eget id
        lacus. Etiam ac maximus tellus. Cras ac cursus felis. Integer a elit egestas, pellentesque urna non, fringilla
        erat. Integer ut dictum lectus.
      </p>
    </div>
    <div class="col-md-1"></div>
  </div>