<ps-header [show]="!!section" [label]="section?.label" [id]="section?.anchor"></ps-header>
<div class="row" *ngIf="section">
  <div class="col-md-1"></div>
  <div class="col-md-3">
    <div class="list-group list-group-checkable d-grid gap-2 border-0">
      <label class="list-group-item rounded-3 py-3" [class.active]="selectedJob?.name === job.name" *ngFor="let job of section.jobs" (click)="onClick($event, job)">
        {{job.name}}
        <span class="d-block small opacity-50">{{job.description}}</span>
      </label>
    </div>
  </div>
  <div class="col-md-7">
    <p [innerHTML]="selectedJob?.details">
    </p>
  </div>
  <div class="col-md-1"></div>
</div>