<div *ngIf="section">
    <nav class="navbar navbar-expand-sm mb-4 border-bottom" [style]="section.style">
        <div class="container">
            <a class="navbar-brand" href="#" [style]="section.title.style">
                <h1>{{section.title.content}}</h1>
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0" [class]="section.itemsContainer.itemsStyle">
                    <li class="nav-item" *ngFor="let item of section.itemsContainer.items">
                        <a class="nav-link" [href]="'#'+item.anchor">{{item.label}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>